
header, footer{
    color: white;
    background-color: #312c32;
    margin: 0em 4em 0.5em 4em;
}

h1, h2, h3, nav, footer, p{
    font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif;
    padding:0.25em;
    margin:0em, 0.25em, 0.5em, 0.25em;
}

h1{
    font-size: 1.5em;
    padding:0em;
}

h2{
    font-size:0.75em;
    padding:0em;
}

h3{
    font-size: 1.125em;
    padding:.25em;
    border-bottom:1px black solid;

}
nav{
    font-size: 1.125em;
    padding:0.5em;
    
}
li{
    display:inline;
}

body{
    font-family: georgia, Cambria,"Times New Roman", serif;
    font-size: 100%;
    background-color: #98dafc;
}

a:link{
    color: #98dafc;
}

a:visited{
    color: #daad86;
}

a:hover{
    background-color: #FFFFCC;
}

.byline{
    font-style:italic;
    color:#808080;
    margin: 0em 0em 0.5em .25em;
}

.imgLarge{
    border: 1px solid black;
    margin: 0em auto 0.5em auto;
    width: 98%;
    padding:0.25em;
    display:inline-block;
}

.repeat{
    background-image:url(../images/gray-gradient.png);
    background-repeat: repeat-x;
    border-radius: 5px;
    padding: .25em;
    padding-top:7pt;
    margin-top: 5pt;
    margin-bottom: 2em;
    margin-left: .25em;
    margin-right:.25em;
    text-size-adjust: .70em;
    vertical-align: middle;
}
.background{
    margin: 0em 4em 0.5em 4em;
    background-color:white;
}
.topline{
    border-top:1px black solid;
}
hr{
    border-top:1px grey dotted;
}